h1 {background-color: mediumturquoise ; padding: 5px; margin: 30px
			} #Titel {text-decoration-line: underline 
			} .rechts {text-align:right; font-size: 20; font-family: arial
			} .links {text-align:left; font-size: 20; font-family: arial
			} .oagarahmen {border-style:ridge; border-width: 13
			} .chilligerrahmen {border-style: groove; border-with: 16; 
			} .standart {background-color: mediumturquoise; font-size: 16; font-family: comic sans ms; padding: 12px
			} #tabelle {background-color: mediumturquoise; margin: 20px; width: 99%
			}